<div class="issue-list">
  <table>
    <thead></thead>
    <tbody>
      @for (issue of issues; track issue.id) {
      <tr>
        <td>{{ issue.title }}</td>
        <td>{{ issue.status }}</td>
        <td>
          <select (change)="updateIssueStatus(issue, $event)">
            @for (status of availableStatuses; track status) {
            <option [value]="status">
              {{ status }}
            </option>
            }
          </select>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
